body {
  background-color: #e8e4d9;
  font-family: Lato, sans-serif;
}

header {
  background-color: #a29268;
  padding: 15px;
  text-align: center;
  font-size: 36px;
position: relative;
}

.content {
  display: flex;
  padding: 0;
}

.content section {
  flex: 1;
  align-items: flex-start;
}

.gist-container {
  margin: 30px;
  text-align: center;
}

.gist-container > div {
  text-align: left;
  display:inline-block;
  overflow: hidden;
  max-width: 400px;
  padding-left: 15px;
}

.gist-container > p {
  padding: 0 15px 0 40px;
  max-width: 400px;
  display:inline-block;
  vertical-align: top;
  text-align: right;
}
.bullets {
  width: 400px;
}

.bullets code {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

.bullets li {
  margin-bottom:10px;
}

.center {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.center ul, .center pre {
  text-align: left;
}
.github {
  display: flex;
  align-items: center;
  color: black;
  vertical-align: center;
  text-transform: lowercase;
  text-decoration: none;
  font-size: 16px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.github svg {
  margin-left: 10px;
}

.blog {
  position: absolute;
  font-size: 16px;
  color: black;
  left: 20px;  display: flex;
  align-items: center;
  top:30px;
  text-decoration: none;
}

.logo {
  color: black;
  text-decoration: none;
}
.post {
  line-height: 25px;
  max-width: 600px;
  padding: 40px;
}
